// Type declarations projected from immutable IDL Contract.
// This artifact does not implement Binary encoding or a serde runtime.

{{#enums}}
#[derive(Debug, Clone, Copy, PartialEq, Eq, Hash)]
#[repr({{rust_underlying_type}})]
pub enum {{enum_name}} {
{{#items}}
    {{name}} = {{value}},
{{/items}}
}

{{/enums}}
{{#composites}}
#[derive(Debug, Clone)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}},
{{/fields}}
}

{{/composites}}
{{#groups}}
#[derive(Debug, Clone)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}},
{{/fields}}
}

{{/groups}}
{{#messages}}
#[derive(Debug, Clone)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}},
{{/fields}}
}

{{/messages}}