package {{schema.schema_name}}

{{#enums}}
enum {{enum_name}} <{{rfl_underlying_type}}>
{{#items}}
    {{name}}
{{/items}}
end

{{/enums}}
{{#composites}}
declare {{name}}
{{#fields}}
    {{name}}: {{rfl_type}}
{{/fields}}
end

{{/composites}}
{{#groups}}
declare {{name}}
{{#fields}}
    {{name}}: {{rfl_type}}
{{/fields}}
end

{{/groups}}
{{#messages}}
declare {{name}}
{{#fields}}
    {{name}}: {{rfl_type}}
{{/fields}}
end

{{/messages}}
