[submodule "refs/yaml-test-suite"]
	path = refs/yaml-test-suite
	url = https://github.com/yaml/yaml-test-suite
[submodule "refs/yaml-spec"]
	path = refs/yaml-spec
	url = https://github.com/yaml/yaml-spec
