#include "{{generated_header}}"

#include <stddef.h>
#include <stdio.h>
#include <string.h>

static const char {{schema.schema_name}}_SCHEMA_TEXT[] = "{{schema_c_literal}}";

const char *{{schema.schema_name}}_schema_text(void) {
    return {{schema.schema_name}}_SCHEMA_TEXT;
}

DataBindStatus {{schema.schema_name}}_codec_create(DataBind **out_codec, DataBindError *error) {
    return data_bind_create_from_text({{schema.schema_name}}_SCHEMA_TEXT,
                                      sizeof({{schema.schema_name}}_SCHEMA_TEXT) - 1,
                                      out_codec, error);
}

{{#composites}}static TbeTypedType {{name}}_TYPED_TYPE;
{{/composites}}{{#groups}}static TbeTypedType {{name}}_TYPED_TYPE;
{{/groups}}{{#messages}}static TbeTypedType {{name}}_TYPED_TYPE;
{{/messages}}

{{#composites}}
static const TbeTypedField {{name}}_TYPED_FIELDS[] = {
{{#fields}}
    {
        .name = "{{name}}",
        .kind = {{typed_kind}},
        .wire_kind = {{#typed_wire_kind}}{{typed_wire_kind}}{{/typed_wire_kind}}{{^typed_wire_kind}}{{typed_kind}}{{/typed_wire_kind}},
        .offset = offsetof({{owner_name}}_t, {{c_name}}),
        .element_kind = {{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}},
        .element_wire_kind = {{#typed_element_wire_kind}}{{typed_element_wire_kind}}{{/typed_element_wire_kind}}{{^typed_element_wire_kind}}{{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}}{{/typed_element_wire_kind}},
        .element_size = {{#typed_element_c_type}}sizeof({{typed_element_c_type}}){{/typed_element_c_type}}{{^typed_element_c_type}}0{{/typed_element_c_type}},
        .fixed_count = {{#typed_fixed_count}}{{typed_fixed_count}}{{/typed_fixed_count}}{{^typed_fixed_count}}0{{/typed_fixed_count}},
        .object_type = {{#typed_cmeta_runtime_supported}}NULL{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}{{#typed_object_descriptor}}{{typed_object_descriptor}}{{/typed_object_descriptor}}{{^typed_object_descriptor}}NULL{{/typed_object_descriptor}}{{/typed_cmeta_runtime_supported}},
        .nested_overlay = {{#typed_nested_overlay}}{{typed_nested_overlay}}{{/typed_nested_overlay}}{{^typed_nested_overlay}}NULL{{/typed_nested_overlay}},
        .map_entry_size = {{#typed_map_entry_type}}sizeof({{typed_map_entry_type}}){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
        .map_key_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, key){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
        .map_value_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, value){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
        .map_value_kind = {{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}},
        .map_value_wire_kind = {{#typed_map_value_wire_kind}}{{typed_map_value_wire_kind}}{{/typed_map_value_wire_kind}}{{^typed_map_value_wire_kind}}{{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}}{{/typed_map_value_wire_kind}},
        .map_value_type = {{#typed_map_value_descriptor}}{{typed_map_value_descriptor}}{{/typed_map_value_descriptor}}{{^typed_map_value_descriptor}}NULL{{/typed_map_value_descriptor}},
        .wire_offset = {{#has_offset}}{{offset}}{{/has_offset}}{{^has_offset}}0{{/has_offset}},
        .wire_size = {{#field_size_bytes}}{{field_size_bytes}}{{/field_size_bytes}}{{^field_size_bytes}}{{#size_bytes}}{{size_bytes}}{{/size_bytes}}{{^size_bytes}}0{{/size_bytes}}{{/field_size_bytes}},
        .optional_bit = {{#is_optional}}{{optional_bit_index}}{{/is_optional}}{{^is_optional}}0{{/is_optional}},
        .flags = 0{{#is_optional}} | TBE_TYPED_FIELD_OPTIONAL{{/is_optional}}{{#has_offset}} | TBE_TYPED_FIELD_WIRE_OFFSET{{/has_offset}}{{#typed_is_var_data}} | TBE_TYPED_FIELD_VAR_DATA{{/typed_is_var_data}}{{#typed_is_group}} | TBE_TYPED_FIELD_GROUP{{/typed_is_group}}
    }{{^last}},{{/last}}
{{/fields}}
};

static TbeTypedType {{name}}_TYPED_TYPE = {
    .name = "{{name}}",
    .size = sizeof({{name}}_t),
    .fields = {{name}}_TYPED_FIELDS,
    .field_count = sizeof({{name}}_TYPED_FIELDS) / sizeof({{name}}_TYPED_FIELDS[0]),
    .fixed_block_size = {{#fixed_block_size}}{{fixed_block_size}}{{/fixed_block_size}}{{^fixed_block_size}}0{{/fixed_block_size}},
    .presence_offset = {{#has_optional_fields}}offsetof({{name}}_t, _presence){{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .presence_size = {{#has_optional_fields}}{{presence_bitmap_bytes}}{{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .wire_big_endian = {{schema.schema_wire_big_endian_value}}
};
{{/composites}}

{{#groups}}
static const TbeTypedField {{name}}_TYPED_FIELDS[] = {
{{#fields}}
    { .name = "{{name}}", .kind = {{typed_kind}},
      .wire_kind = {{#typed_wire_kind}}{{typed_wire_kind}}{{/typed_wire_kind}}{{^typed_wire_kind}}{{typed_kind}}{{/typed_wire_kind}}, .offset = offsetof({{owner_name}}_t, {{c_name}}),
      .element_kind = {{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}},
      .element_wire_kind = {{#typed_element_wire_kind}}{{typed_element_wire_kind}}{{/typed_element_wire_kind}}{{^typed_element_wire_kind}}{{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}}{{/typed_element_wire_kind}},
      .element_size = {{#typed_element_c_type}}sizeof({{typed_element_c_type}}){{/typed_element_c_type}}{{^typed_element_c_type}}0{{/typed_element_c_type}},
      .fixed_count = {{#typed_fixed_count}}{{typed_fixed_count}}{{/typed_fixed_count}}{{^typed_fixed_count}}0{{/typed_fixed_count}},
      .object_type = {{#typed_cmeta_runtime_supported}}NULL{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}{{#typed_object_descriptor}}{{typed_object_descriptor}}{{/typed_object_descriptor}}{{^typed_object_descriptor}}NULL{{/typed_object_descriptor}}{{/typed_cmeta_runtime_supported}},
      .nested_overlay = {{#typed_nested_overlay}}{{typed_nested_overlay}}{{/typed_nested_overlay}}{{^typed_nested_overlay}}NULL{{/typed_nested_overlay}},
      .map_entry_size = {{#typed_map_entry_type}}sizeof({{typed_map_entry_type}}){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_key_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, key){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_value_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, value){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_value_kind = {{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}},
      .map_value_wire_kind = {{#typed_map_value_wire_kind}}{{typed_map_value_wire_kind}}{{/typed_map_value_wire_kind}}{{^typed_map_value_wire_kind}}{{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}}{{/typed_map_value_wire_kind}},
      .map_value_type = {{#typed_map_value_descriptor}}{{typed_map_value_descriptor}}{{/typed_map_value_descriptor}}{{^typed_map_value_descriptor}}NULL{{/typed_map_value_descriptor}},
      .wire_offset = {{#has_offset}}{{offset}}{{/has_offset}}{{^has_offset}}0{{/has_offset}},
      .wire_size = {{#field_size_bytes}}{{field_size_bytes}}{{/field_size_bytes}}{{^field_size_bytes}}{{#size_bytes}}{{size_bytes}}{{/size_bytes}}{{^size_bytes}}0{{/size_bytes}}{{/field_size_bytes}},
      .optional_bit = {{#is_optional}}{{optional_bit_index}}{{/is_optional}}{{^is_optional}}0{{/is_optional}},
      .flags = 0{{#is_optional}} | TBE_TYPED_FIELD_OPTIONAL{{/is_optional}}{{#has_offset}} | TBE_TYPED_FIELD_WIRE_OFFSET{{/has_offset}}{{#typed_is_var_data}} | TBE_TYPED_FIELD_VAR_DATA{{/typed_is_var_data}}{{#typed_is_group}} | TBE_TYPED_FIELD_GROUP{{/typed_is_group}} }{{^last}},{{/last}}
{{/fields}}
};
static TbeTypedType {{name}}_TYPED_TYPE = {
    .name = "{{name}}", .size = sizeof({{name}}_t), .fields = {{name}}_TYPED_FIELDS,
    .field_count = sizeof({{name}}_TYPED_FIELDS) / sizeof({{name}}_TYPED_FIELDS[0]),
    .fixed_block_size = {{#fixed_block_size}}{{fixed_block_size}}{{/fixed_block_size}}{{^fixed_block_size}}0{{/fixed_block_size}},
    .presence_offset = {{#has_optional_fields}}offsetof({{name}}_t, _presence){{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .presence_size = {{#has_optional_fields}}{{presence_bitmap_bytes}}{{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .wire_big_endian = {{schema.schema_wire_big_endian_value}}
};
{{/groups}}

{{#messages}}
static const TbeTypedField {{name}}_TYPED_FIELDS[] = {
{{#fields}}
    { .name = "{{name}}", .kind = {{typed_kind}},
      .wire_kind = {{#typed_wire_kind}}{{typed_wire_kind}}{{/typed_wire_kind}}{{^typed_wire_kind}}{{typed_kind}}{{/typed_wire_kind}}, .offset = offsetof({{owner_name}}_t, {{c_name}}),
      .element_kind = {{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}},
      .element_wire_kind = {{#typed_element_wire_kind}}{{typed_element_wire_kind}}{{/typed_element_wire_kind}}{{^typed_element_wire_kind}}{{#typed_element_kind}}{{typed_element_kind}}{{/typed_element_kind}}{{^typed_element_kind}}TBE_TYPED_BOOL{{/typed_element_kind}}{{/typed_element_wire_kind}},
      .element_size = {{#typed_element_c_type}}sizeof({{typed_element_c_type}}){{/typed_element_c_type}}{{^typed_element_c_type}}0{{/typed_element_c_type}},
      .fixed_count = {{#typed_fixed_count}}{{typed_fixed_count}}{{/typed_fixed_count}}{{^typed_fixed_count}}0{{/typed_fixed_count}},
      .object_type = {{#typed_cmeta_runtime_supported}}NULL{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}{{#typed_object_descriptor}}{{typed_object_descriptor}}{{/typed_object_descriptor}}{{^typed_object_descriptor}}NULL{{/typed_object_descriptor}}{{/typed_cmeta_runtime_supported}},
      .nested_overlay = {{#typed_nested_overlay}}{{typed_nested_overlay}}{{/typed_nested_overlay}}{{^typed_nested_overlay}}NULL{{/typed_nested_overlay}},
      .map_entry_size = {{#typed_map_entry_type}}sizeof({{typed_map_entry_type}}){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_key_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, key){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_value_offset = {{#typed_map_entry_type}}offsetof({{typed_map_entry_type}}, value){{/typed_map_entry_type}}{{^typed_map_entry_type}}0{{/typed_map_entry_type}},
      .map_value_kind = {{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}},
      .map_value_wire_kind = {{#typed_map_value_wire_kind}}{{typed_map_value_wire_kind}}{{/typed_map_value_wire_kind}}{{^typed_map_value_wire_kind}}{{#typed_map_value_kind}}{{typed_map_value_kind}}{{/typed_map_value_kind}}{{^typed_map_value_kind}}TBE_TYPED_BOOL{{/typed_map_value_kind}}{{/typed_map_value_wire_kind}},
      .map_value_type = {{#typed_map_value_descriptor}}{{typed_map_value_descriptor}}{{/typed_map_value_descriptor}}{{^typed_map_value_descriptor}}NULL{{/typed_map_value_descriptor}},
      .wire_offset = {{#has_offset}}{{offset}}{{/has_offset}}{{^has_offset}}0{{/has_offset}},
      .wire_size = {{#field_size_bytes}}{{field_size_bytes}}{{/field_size_bytes}}{{^field_size_bytes}}{{#size_bytes}}{{size_bytes}}{{/size_bytes}}{{^size_bytes}}0{{/size_bytes}}{{/field_size_bytes}},
      .optional_bit = {{#is_optional}}{{optional_bit_index}}{{/is_optional}}{{^is_optional}}0{{/is_optional}},
      .flags = 0{{#is_optional}} | TBE_TYPED_FIELD_OPTIONAL{{/is_optional}}{{#has_offset}} | TBE_TYPED_FIELD_WIRE_OFFSET{{/has_offset}}{{#typed_is_var_data}} | TBE_TYPED_FIELD_VAR_DATA{{/typed_is_var_data}}{{#typed_is_group}} | TBE_TYPED_FIELD_GROUP{{/typed_is_group}} }{{^last}},{{/last}}
{{/fields}}
};
static TbeTypedType {{name}}_TYPED_TYPE = {
    .name = "{{name}}", .size = sizeof({{name}}_t), .fields = {{name}}_TYPED_FIELDS,
    .field_count = sizeof({{name}}_TYPED_FIELDS) / sizeof({{name}}_TYPED_FIELDS[0]),
    .fixed_block_size = {{#fixed_block_size}}{{fixed_block_size}}{{/fixed_block_size}}{{^fixed_block_size}}0{{/fixed_block_size}},
    .presence_offset = {{#has_optional_fields}}offsetof({{name}}_t, _presence){{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .presence_size = {{#has_optional_fields}}{{presence_bitmap_bytes}}{{/has_optional_fields}}{{^has_optional_fields}}0{{/has_optional_fields}},
    .wire_big_endian = {{schema.schema_wire_big_endian_value}}
};
{{/messages}}

/* #45: native graph metadata is immutable and borrowed. ABI-v2 descriptors
 * join this structural graph to the separate generated schema overlay. */
#include <salts_cmeta_fixed_width.h>
#include <salts_cmeta_data.h>
#define TBE_GENERATED_CMETA_GRAPH 1

static DataBindStatus {{schema.schema_name}}_schema_codec_error(
    DataBindError *error, DataBindStatus status, const char *path,
    const char *message);

{{#composites}}static const cmeta_type_desc {{name}}_CMETA_TYPE;
static const cmeta_data_desc {{name}}_CMETA_DATA;
{{/composites}}
{{#groups}}static const cmeta_type_desc {{name}}_CMETA_TYPE;
static const cmeta_data_desc {{name}}_CMETA_DATA;
{{/groups}}
{{#messages}}static const cmeta_type_desc {{name}}_CMETA_TYPE;
static const cmeta_data_desc {{name}}_CMETA_DATA;
{{/messages}}
{{#composites}}{{#fields}}{{#native_fixed_bytes_name}}
typedef uint8_t {{native_c_type}}[{{typed_fixed_count}}];
CMETA_DEFINE_FIXED_BYTES({{native_fixed_bytes_name}}, {{native_c_type}},
                         sizeof({{native_c_type}}),
                         "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
                         "{{owner_name}}_t.{{c_name}}");
{{/native_fixed_bytes_name}}{{/fields}}{{/composites}}
{{#groups}}{{#fields}}{{#native_fixed_bytes_name}}
typedef uint8_t {{native_c_type}}[{{typed_fixed_count}}];
CMETA_DEFINE_FIXED_BYTES({{native_fixed_bytes_name}}, {{native_c_type}},
                         sizeof({{native_c_type}}),
                         "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
                         "{{owner_name}}_t.{{c_name}}");
{{/native_fixed_bytes_name}}{{/fields}}{{/groups}}
{{#messages}}{{#fields}}{{#native_fixed_bytes_name}}
typedef uint8_t {{native_c_type}}[{{typed_fixed_count}}];
CMETA_DEFINE_FIXED_BYTES({{native_fixed_bytes_name}}, {{native_c_type}},
                         sizeof({{native_c_type}}),
                         "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
                         "{{owner_name}}_t.{{c_name}}");
{{/native_fixed_bytes_name}}{{/fields}}{{/messages}}
{{#enums}}
static const cmeta_type_identity {{enum_name}}_CMETA_ID =
    CMETA_TYPE_ID_ATOM_INIT("tbe.native.{{schema.schema_name}}.{{enum_name}}_t");
static const cmeta_type_desc {{enum_name}}_CMETA_TYPE = {
    "{{enum_name}}_t", sizeof({{enum_name}}_t), TBE_TYPED_ALIGNOF({{enum_name}}_t),
    CMETA_T_INTEGER, NULL, NULL, &{{enum_name}}_CMETA_ID
};
{{#native_enum_supported}}
static const cmeta_enum_bits_item {{enum_name}}_CMETA_ITEMS[] = {
{{#items}}    { (uint64_t){{enum_name}}_{{name}} & (UINT64_MAX >> (64u - {{native_enum_bits}}u)), "{{name}}", "{{name}}" },
{{/items}}};
static const cmeta_enum_domain {{enum_name}}_CMETA_DOMAIN = {
    sizeof(cmeta_enum_domain), CMETA_ENUM_DOMAIN_ABI_VERSION,
    {{native_enum_signedness}}, {{native_enum_bits}}u,
    {{#is_flags}}CMETA_ENUM_FLAGS{{/is_flags}}{{^is_flags}}CMETA_ENUM_ORDINARY{{/is_flags}},
    {{enum_name}}_CMETA_ITEMS,
    sizeof({{enum_name}}_CMETA_ITEMS) / sizeof({{enum_name}}_CMETA_ITEMS[0]),
    {{#is_flags}}(UINT64_C(0){{#items}} | (uint64_t){{enum_name}}_{{name}}{{/items}}) & (UINT64_MAX >> (64u - {{native_enum_bits}}u)){{/is_flags}}{{^is_flags}}UINT64_C(0){{/is_flags}}
};
{{#typed_cmeta_runtime_supported}}
static bool {{enum_name}}_cmeta_is_zero(const void *object) {
    return object != NULL && *(const {{enum_name}}_t *)object == ({{enum_name}}_t)0;
}
static cmeta_status {{enum_name}}_cmeta_read(const void *object, uint64_t *out) {
    if (object == NULL || out == NULL) return CMETA_INVALID_ARGUMENT;
    *out = (uint64_t)*(const {{enum_name}}_t *)object & (UINT64_MAX >> (64u - {{native_enum_bits}}u));
    return CMETA_OK;
}
static cmeta_status {{enum_name}}_cmeta_assign(void *object, uint64_t bits) {
    if (object == NULL) return CMETA_INVALID_ARGUMENT;
{{#native_enum_signed}}    /* Decode negatives without an out-of-range unsigned-to-signed cast. */
    if ((bits & (UINT64_C(1) << ({{native_enum_bits}}u - 1u))) != 0u)
        *({{enum_name}}_t *)object = ({{enum_name}}_t)(-1 - (int64_t)((UINT64_MAX >> (64u - {{native_enum_bits}}u)) - bits));
    else
{{/native_enum_signed}}    *({{enum_name}}_t *)object = ({{enum_name}}_t)bits;
    return CMETA_OK;
}
static void {{enum_name}}_cmeta_restore_zero(void *object) {
    if (object != NULL) *({{enum_name}}_t *)object = ({{enum_name}}_t)0;
}
static const cmeta_data_enum_bits_ops {{enum_name}}_CMETA_ENUM_OPS = {
    sizeof(cmeta_data_enum_bits_ops), CMETA_DATA_ENUM_BITS_OPS_ABI_VERSION,
    &{{enum_name}}_CMETA_TYPE, &{{enum_name}}_CMETA_DOMAIN, {{enum_name}}_cmeta_is_zero,
    {{enum_name}}_cmeta_read, {{enum_name}}_cmeta_assign,
    {{enum_name}}_cmeta_restore_zero
};
{{/typed_cmeta_runtime_supported}}
static const cmeta_data_desc {{enum_name}}_CMETA_DATA = {
    sizeof(cmeta_data_desc), CMETA_DATA_DESC_ABI_VERSION,
    "tbe.native.{{schema.schema_name}}.{{enum_name}}_t.data", "{{enum_name}}_t",
    CMETA_DATA_ENUM, &{{enum_name}}_CMETA_TYPE, NULL,
    NULL, NULL, NULL, NULL, &{{enum_name}}_CMETA_ENUM_OPS
};
{{/native_enum_supported}}
{{^native_enum_supported}}
static const cmeta_data_desc {{enum_name}}_CMETA_DATA = {0};
{{/native_enum_supported}}
{{/enums}}

{{#composites}}
static const cmeta_type_identity {{name}}_CMETA_ID =
    CMETA_TYPE_ID_ATOM_INIT("tbe.native.{{schema.schema_name}}.{{name}}_t");
static const cmeta_type_desc {{name}}_CMETA_TYPE = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    CMETA_T_OBJECT, NULL, NULL, &{{name}}_CMETA_ID
};
static const cmeta_field_desc {{name}}_CMETA_LAYOUT_FIELDS[] = {
{{#fields}}
    { "{{c_name}}", "{{native_c_type}}", offsetof({{owner_name}}_t, {{c_name}}),
      sizeof((({{owner_name}}_t *)0)->{{c_name}}),
      {{#native_c_type}}TBE_TYPED_ALIGNOF({{native_c_type}}){{/native_c_type}}{{^native_c_type}}1u{{/native_c_type}},
      {{#native_type_symbol}}&{{native_type_symbol}}{{/native_type_symbol}}{{^native_type_symbol}}NULL{{/native_type_symbol}},
      NULL },
{{/fields}}};
static const cmeta_struct_desc {{name}}_CMETA_LAYOUT = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    {{name}}_CMETA_LAYOUT_FIELDS,
    sizeof({{name}}_CMETA_LAYOUT_FIELDS) / sizeof({{name}}_CMETA_LAYOUT_FIELDS[0])
};
static const cmeta_data_field_desc {{name}}_CMETA_FIELDS[] = {
{{#fields}}
    { "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
      "{{c_name}}", offsetof({{owner_name}}_t, {{c_name}}),
      {{#native_data_symbol}}&{{native_data_symbol}}{{/native_data_symbol}}{{^native_data_symbol}}NULL{{/native_data_symbol}} },
{{/fields}}};
static const cmeta_data_struct_shape {{name}}_CMETA_SHAPE = {
    &{{name}}_CMETA_LAYOUT, {{name}}_CMETA_FIELDS,
    sizeof({{name}}_CMETA_FIELDS) / sizeof({{name}}_CMETA_FIELDS[0])
};
static const cmeta_data_desc {{name}}_CMETA_DATA = {
    sizeof(cmeta_data_desc), CMETA_DATA_DESC_ABI_VERSION,
    "tbe.native.{{schema.schema_name}}.{{name}}_t.data", "{{name}}_t",
    CMETA_DATA_STRUCT, &{{name}}_CMETA_TYPE, &{{name}}_CMETA_SHAPE, NULL, NULL, NULL, NULL, NULL
};
{{#typed_cmeta_runtime_supported}}
static const TbeTypedDescriptor {{name}}_TYPED_DESCRIPTOR =
    TBE_TYPED_DESCRIPTOR_INIT(&{{name}}_TYPED_TYPE, &{{name}}_CMETA_DATA);

const TbeTypedDescriptor *{{name}}_typed_descriptor(void) {
    return &{{name}}_TYPED_DESCRIPTOR;
}
{{/typed_cmeta_runtime_supported}}

DataBindStatus {{name}}_cmeta_data(const cmeta_data_desc **out, DataBindError *error) {
    if (out == NULL)
        return {{schema.schema_name}}_schema_codec_error(
            error, DATA_BIND_ERR_INVALID_ARG, "{{name}}",
            "Native CMeta output is required");
{{#cmeta_graph_supported}}
    *out = &{{name}}_CMETA_DATA;
    return {{schema.schema_name}}_schema_codec_error(error, DATA_BIND_OK, NULL, NULL);
{{/cmeta_graph_supported}}
{{^cmeta_graph_supported}}
    return {{schema.schema_name}}_schema_codec_error(
        error, DATA_BIND_ERR_SCHEMA, "{{name}}",
        "Native CMeta record graph is unavailable");
{{/cmeta_graph_supported}}
}
{{/composites}}

{{#groups}}
static const cmeta_type_identity {{name}}_CMETA_ID =
    CMETA_TYPE_ID_ATOM_INIT("tbe.native.{{schema.schema_name}}.{{name}}_t");
static const cmeta_type_desc {{name}}_CMETA_TYPE = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    CMETA_T_OBJECT, NULL, NULL, &{{name}}_CMETA_ID
};
static const cmeta_field_desc {{name}}_CMETA_LAYOUT_FIELDS[] = {
{{#fields}}
    { "{{c_name}}", "{{native_c_type}}", offsetof({{owner_name}}_t, {{c_name}}),
      sizeof((({{owner_name}}_t *)0)->{{c_name}}),
      {{#native_c_type}}TBE_TYPED_ALIGNOF({{native_c_type}}){{/native_c_type}}{{^native_c_type}}1u{{/native_c_type}},
      {{#native_type_symbol}}&{{native_type_symbol}}{{/native_type_symbol}}{{^native_type_symbol}}NULL{{/native_type_symbol}},
      NULL },
{{/fields}}};
static const cmeta_struct_desc {{name}}_CMETA_LAYOUT = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    {{name}}_CMETA_LAYOUT_FIELDS,
    sizeof({{name}}_CMETA_LAYOUT_FIELDS) / sizeof({{name}}_CMETA_LAYOUT_FIELDS[0])
};
static const cmeta_data_field_desc {{name}}_CMETA_FIELDS[] = {
{{#fields}}
    { "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
      "{{c_name}}", offsetof({{owner_name}}_t, {{c_name}}),
      {{#native_data_symbol}}&{{native_data_symbol}}{{/native_data_symbol}}{{^native_data_symbol}}NULL{{/native_data_symbol}} },
{{/fields}}};
static const cmeta_data_struct_shape {{name}}_CMETA_SHAPE = {
    &{{name}}_CMETA_LAYOUT, {{name}}_CMETA_FIELDS,
    sizeof({{name}}_CMETA_FIELDS) / sizeof({{name}}_CMETA_FIELDS[0])
};
static const cmeta_data_desc {{name}}_CMETA_DATA = {
    sizeof(cmeta_data_desc), CMETA_DATA_DESC_ABI_VERSION,
    "tbe.native.{{schema.schema_name}}.{{name}}_t.data", "{{name}}_t",
    CMETA_DATA_STRUCT, &{{name}}_CMETA_TYPE, &{{name}}_CMETA_SHAPE, NULL, NULL, NULL, NULL, NULL
};
{{#typed_cmeta_runtime_supported}}
static const TbeTypedDescriptor {{name}}_TYPED_DESCRIPTOR =
    TBE_TYPED_DESCRIPTOR_INIT(&{{name}}_TYPED_TYPE, &{{name}}_CMETA_DATA);

const TbeTypedDescriptor *{{name}}_typed_descriptor(void) {
    return &{{name}}_TYPED_DESCRIPTOR;
}
{{/typed_cmeta_runtime_supported}}

DataBindStatus {{name}}_cmeta_data(const cmeta_data_desc **out, DataBindError *error) {
    if (out == NULL)
        return {{schema.schema_name}}_schema_codec_error(
            error, DATA_BIND_ERR_INVALID_ARG, "{{name}}",
            "Native CMeta output is required");
{{#cmeta_graph_supported}}
    *out = &{{name}}_CMETA_DATA;
    return {{schema.schema_name}}_schema_codec_error(error, DATA_BIND_OK, NULL, NULL);
{{/cmeta_graph_supported}}
{{^cmeta_graph_supported}}
    return {{schema.schema_name}}_schema_codec_error(
        error, DATA_BIND_ERR_SCHEMA, "{{name}}",
        "Native CMeta record graph is unavailable");
{{/cmeta_graph_supported}}
}
{{/groups}}

{{#messages}}
static const cmeta_type_identity {{name}}_CMETA_ID =
    CMETA_TYPE_ID_ATOM_INIT("tbe.native.{{schema.schema_name}}.{{name}}_t");
static const cmeta_type_desc {{name}}_CMETA_TYPE = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    CMETA_T_OBJECT, NULL, NULL, &{{name}}_CMETA_ID
};
static const cmeta_field_desc {{name}}_CMETA_LAYOUT_FIELDS[] = {
{{#fields}}
    { "{{c_name}}", "{{native_c_type}}", offsetof({{owner_name}}_t, {{c_name}}),
      sizeof((({{owner_name}}_t *)0)->{{c_name}}),
      {{#native_c_type}}TBE_TYPED_ALIGNOF({{native_c_type}}){{/native_c_type}}{{^native_c_type}}1u{{/native_c_type}},
      {{#native_type_symbol}}&{{native_type_symbol}}{{/native_type_symbol}}{{^native_type_symbol}}NULL{{/native_type_symbol}},
      NULL },
{{/fields}}};
static const cmeta_struct_desc {{name}}_CMETA_LAYOUT = {
    "{{name}}_t", sizeof({{name}}_t), TBE_TYPED_ALIGNOF({{name}}_t),
    {{name}}_CMETA_LAYOUT_FIELDS,
    sizeof({{name}}_CMETA_LAYOUT_FIELDS) / sizeof({{name}}_CMETA_LAYOUT_FIELDS[0])
};
static const cmeta_data_field_desc {{name}}_CMETA_FIELDS[] = {
{{#fields}}
    { "tbe.native.{{schema.schema_name}}.{{owner_name}}_t.{{c_name}}",
      "{{c_name}}", offsetof({{owner_name}}_t, {{c_name}}),
      {{#native_data_symbol}}&{{native_data_symbol}}{{/native_data_symbol}}{{^native_data_symbol}}NULL{{/native_data_symbol}} },
{{/fields}}};
static const cmeta_data_struct_shape {{name}}_CMETA_SHAPE = {
    &{{name}}_CMETA_LAYOUT, {{name}}_CMETA_FIELDS,
    sizeof({{name}}_CMETA_FIELDS) / sizeof({{name}}_CMETA_FIELDS[0])
};
static const cmeta_data_desc {{name}}_CMETA_DATA = {
    sizeof(cmeta_data_desc), CMETA_DATA_DESC_ABI_VERSION,
    "tbe.native.{{schema.schema_name}}.{{name}}_t.data", "{{name}}_t",
    CMETA_DATA_STRUCT, &{{name}}_CMETA_TYPE, &{{name}}_CMETA_SHAPE, NULL, NULL, NULL, NULL, NULL
};
{{#typed_cmeta_runtime_supported}}
static const TbeTypedDescriptor {{name}}_TYPED_DESCRIPTOR =
    TBE_TYPED_DESCRIPTOR_INIT(&{{name}}_TYPED_TYPE, &{{name}}_CMETA_DATA);

const TbeTypedDescriptor *{{name}}_typed_descriptor(void) {
    return &{{name}}_TYPED_DESCRIPTOR;
}
{{/typed_cmeta_runtime_supported}}

DataBindStatus {{name}}_cmeta_data(const cmeta_data_desc **out, DataBindError *error) {
    if (out == NULL)
        return {{schema.schema_name}}_schema_codec_error(
            error, DATA_BIND_ERR_INVALID_ARG, "{{name}}",
            "Native CMeta output is required");
{{#cmeta_graph_supported}}
    *out = &{{name}}_CMETA_DATA;
    return {{schema.schema_name}}_schema_codec_error(error, DATA_BIND_OK, NULL, NULL);
{{/cmeta_graph_supported}}
{{^cmeta_graph_supported}}
    return {{schema.schema_name}}_schema_codec_error(
        error, DATA_BIND_ERR_SCHEMA, "{{name}}",
        "Native CMeta record graph is unavailable");
{{/cmeta_graph_supported}}
}
{{/messages}}

#define TBE_TYPED_DEFINE_DESCRIPTOR_RECORD(name) \
    void name##_init(name##_t *object) { \
        if (object) (void)tbe_typed_descriptor_init(&name##_TYPED_DESCRIPTOR, object, NULL); \
    } \
    void name##_clear(name##_t *object) { \
        if (object) (void)tbe_typed_descriptor_clear(&name##_TYPED_DESCRIPTOR, object, NULL); \
    } \
    DataBindStatus name##_from_bin(DataBind *codec, name##_t *object, const void *data, size_t len, DataBindError *error) { \
        return tbe_typed_descriptor_parse(codec, #name, &name##_TYPED_DESCRIPTOR, DATA_BIND_FORMAT_BINARY, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_json(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_descriptor_parse(codec, #name, &name##_TYPED_DESCRIPTOR, DATA_BIND_FORMAT_JSON, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_yaml(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_descriptor_parse(codec, #name, &name##_TYPED_DESCRIPTOR, DATA_BIND_FORMAT_YAML, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_csv(DataBind *codec, name##_t *object, const char *data, size_t len, size_t row, DataBindError *error) { \
        return tbe_typed_descriptor_parse(codec, #name, &name##_TYPED_DESCRIPTOR, DATA_BIND_FORMAT_CSV, data, len, row, object, error); \
    } \
    DataBindStatus name##_from_xml(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_descriptor_parse(codec, #name, &name##_TYPED_DESCRIPTOR, DATA_BIND_FORMAT_XML, data, len, 0, object, error); \
    } \
    DataBindStatus name##_to_bin(const name##_t *object, uint8_t **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize_binary(&name##_TYPED_DESCRIPTOR, object, out, out_len, error); \
    } \
    DataBindStatus name##_to_bin_into(const name##_t *object, uint8_t *output, size_t output_capacity, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize_binary_into(&name##_TYPED_DESCRIPTOR, object, output, output_capacity, out_len, error); \
    } \
    DataBindStatus name##_to_json(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize(codec, #name, &name##_TYPED_DESCRIPTOR, object, DATA_BIND_FORMAT_JSON, out, out_len, error); \
    } \
    DataBindStatus name##_to_yaml(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize(codec, #name, &name##_TYPED_DESCRIPTOR, object, DATA_BIND_FORMAT_YAML, out, out_len, error); \
    } \
    DataBindStatus name##_to_csv(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize(codec, #name, &name##_TYPED_DESCRIPTOR, object, DATA_BIND_FORMAT_CSV, out, out_len, error); \
    } \
    DataBindStatus name##_to_xml(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_descriptor_serialize(codec, #name, &name##_TYPED_DESCRIPTOR, object, DATA_BIND_FORMAT_XML, out, out_len, error); \
    }

#define TBE_TYPED_DEFINE_RAW_RECORD(name) \
    void name##_init(name##_t *object) { \
        if (object) (void)tbe_typed_init(&name##_TYPED_TYPE, object, NULL); \
    } \
    void name##_clear(name##_t *object) { tbe_typed_clear(&name##_TYPED_TYPE, object); } \
    DataBindStatus name##_from_bin(DataBind *codec, name##_t *object, const void *data, size_t len, DataBindError *error) { \
        return tbe_typed_parse_ex(codec, #name, &name##_TYPED_TYPE, DATA_BIND_FORMAT_BINARY, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_json(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_parse_ex(codec, #name, &name##_TYPED_TYPE, DATA_BIND_FORMAT_JSON, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_yaml(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_parse_ex(codec, #name, &name##_TYPED_TYPE, DATA_BIND_FORMAT_YAML, data, len, 0, object, error); \
    } \
    DataBindStatus name##_from_csv(DataBind *codec, name##_t *object, const char *data, size_t len, size_t row, DataBindError *error) { \
        return tbe_typed_parse_ex(codec, #name, &name##_TYPED_TYPE, DATA_BIND_FORMAT_CSV, data, len, row, object, error); \
    } \
    DataBindStatus name##_from_xml(DataBind *codec, name##_t *object, const char *data, size_t len, DataBindError *error) { \
        return tbe_typed_parse_ex(codec, #name, &name##_TYPED_TYPE, DATA_BIND_FORMAT_XML, data, len, 0, object, error); \
    } \
    DataBindStatus name##_to_bin(const name##_t *object, uint8_t **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_binary(&name##_TYPED_TYPE, object, out, out_len, error); \
    } \
    DataBindStatus name##_to_bin_into(const name##_t *object, uint8_t *output, size_t output_capacity, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_binary_into(&name##_TYPED_TYPE, object, output, output_capacity, out_len, error); \
    } \
    DataBindStatus name##_to_json(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_ex(codec, #name, &name##_TYPED_TYPE, object, DATA_BIND_FORMAT_JSON, out, out_len, error); \
    } \
    DataBindStatus name##_to_yaml(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_ex(codec, #name, &name##_TYPED_TYPE, object, DATA_BIND_FORMAT_YAML, out, out_len, error); \
    } \
    DataBindStatus name##_to_csv(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_ex(codec, #name, &name##_TYPED_TYPE, object, DATA_BIND_FORMAT_CSV, out, out_len, error); \
    } \
    DataBindStatus name##_to_xml(DataBind *codec, const name##_t *object, char **out, size_t *out_len, DataBindError *error) { \
        return tbe_typed_serialize_ex(codec, #name, &name##_TYPED_TYPE, object, DATA_BIND_FORMAT_XML, out, out_len, error); \
    }

{{#composites}}{{#typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_DESCRIPTOR_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_RAW_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}{{/composites}}{{#groups}}{{#typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_DESCRIPTOR_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_RAW_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}{{/groups}}{{#messages}}{{#typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_DESCRIPTOR_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}{{^typed_cmeta_runtime_supported}}TBE_TYPED_DEFINE_RAW_RECORD({{name}})
{{/typed_cmeta_runtime_supported}}
{{/messages}}

{{#lua_output_enabled}}
{{#composites}}{{^typed_cmeta_runtime_supported}}const TbeTypedType *{{name}}_typed_type(void) { return &{{name}}_TYPED_TYPE; }
{{/typed_cmeta_runtime_supported}}{{/composites}}{{#groups}}{{^typed_cmeta_runtime_supported}}const TbeTypedType *{{name}}_typed_type(void) { return &{{name}}_TYPED_TYPE; }
{{/typed_cmeta_runtime_supported}}{{/groups}}{{#messages}}{{^typed_cmeta_runtime_supported}}const TbeTypedType *{{name}}_typed_type(void) { return &{{name}}_TYPED_TYPE; }
{{/typed_cmeta_runtime_supported}}
{{/messages}}
{{/lua_output_enabled}}

static DataBindStatus {{schema.schema_name}}_schema_codec_error(DataBindError *error,
                                                                DataBindStatus status,
                                                                const char *path,
                                                                const char *message) {
    if (error != NULL && error->size >= sizeof(error->size)) {
        if (error->size >= offsetof(DataBindError, code) + sizeof(error->code))
            error->code = status;
        if (error->size >= offsetof(DataBindError, line) + sizeof(error->line))
            error->line = -1;
        if (error->size >= offsetof(DataBindError, column) + sizeof(error->column))
            error->column = -1;
        if (error->size >= offsetof(DataBindError, path) + sizeof(error->path))
            snprintf(error->path, sizeof(error->path), "%s", path != NULL ? path : "");
        if (error->size >= offsetof(DataBindError, message) + sizeof(error->message))
            snprintf(error->message, sizeof(error->message), "%s",
                     message != NULL ? message : "");
    }
    return status;
}

static DataBindStatus {{schema.schema_name}}_text_to_binary_into(
    DataBind *codec, const char *type_name, uint32_t format, const void *input,
    size_t input_len, size_t csv_row, uint8_t *output, size_t output_capacity,
    size_t *out_len, DataBindError *error) {
    if (out_len != NULL) *out_len = 0;
    if (codec == NULL || type_name == NULL || input == NULL || output == NULL || out_len == NULL)
        return {{schema.schema_name}}_schema_codec_error(
            error, DATA_BIND_ERR_INVALID_ARG, type_name,
            "Invalid schema codec text-to-binary arguments");

#define TBE_SCHEMA_TEXT_TO_BINARY_CASE(name) \
    if (strcmp(type_name, #name) == 0) { \
        name##_t object; \
        DataBindStatus status; \
        name##_init(&object); \
        switch (format) { \
        case TBE_SCHEMA_FORMAT_JSON: \
            status = name##_from_json(codec, &object, (const char *)input, input_len, error); \
            break; \
        case TBE_SCHEMA_FORMAT_YAML: \
            status = name##_from_yaml(codec, &object, (const char *)input, input_len, error); \
            break; \
        case TBE_SCHEMA_FORMAT_CSV: \
            status = name##_from_csv(codec, &object, (const char *)input, input_len, csv_row, error); \
            break; \
        case TBE_SCHEMA_FORMAT_XML: \
            status = name##_from_xml(codec, &object, (const char *)input, input_len, error); \
            break; \
        default: \
            status = {{schema.schema_name}}_schema_codec_error( \
                error, DATA_BIND_ERR_INVALID_ARG, type_name, "Unknown schema text format"); \
            break; \
        } \
        if (status == DATA_BIND_OK) status = name##_to_bin_into(&object, output, output_capacity, out_len, error); \
        name##_clear(&object); \
        return status; \
    }

{{#composites}}    TBE_SCHEMA_TEXT_TO_BINARY_CASE({{name}})
{{/composites}}{{#groups}}    TBE_SCHEMA_TEXT_TO_BINARY_CASE({{name}})
{{/groups}}{{#messages}}    TBE_SCHEMA_TEXT_TO_BINARY_CASE({{name}})
{{/messages}}
#undef TBE_SCHEMA_TEXT_TO_BINARY_CASE

    return {{schema.schema_name}}_schema_codec_error(
        error, DATA_BIND_ERR_TYPE_NOT_FOUND, type_name, "Schema codec type not found");
}

static DataBindStatus {{schema.schema_name}}_binary_to_text(
    DataBind *codec, const char *type_name, uint32_t format, const void *input,
    size_t input_len, char **out, size_t *out_len, DataBindError *error) {
    if (out != NULL) *out = NULL;
    if (out_len != NULL) *out_len = 0;
    if (codec == NULL || type_name == NULL || input == NULL || input_len == 0 ||
        out == NULL || out_len == NULL)
        return {{schema.schema_name}}_schema_codec_error(
            error, DATA_BIND_ERR_INVALID_ARG, type_name,
            "Invalid schema codec binary-to-text arguments");

#define TBE_SCHEMA_BINARY_TO_TEXT_CASE(name) \
    if (strcmp(type_name, #name) == 0) { \
        name##_t object; \
        DataBindStatus status; \
        name##_init(&object); \
        status = name##_from_bin(codec, &object, input, input_len, error); \
        if (status == DATA_BIND_OK) { \
            switch (format) { \
            case TBE_SCHEMA_FORMAT_JSON: \
                status = name##_to_json(codec, &object, out, out_len, error); \
                break; \
            case TBE_SCHEMA_FORMAT_YAML: \
                status = name##_to_yaml(codec, &object, out, out_len, error); \
                break; \
            case TBE_SCHEMA_FORMAT_CSV: \
                status = name##_to_csv(codec, &object, out, out_len, error); \
                break; \
            case TBE_SCHEMA_FORMAT_XML: \
                status = name##_to_xml(codec, &object, out, out_len, error); \
                break; \
            default: \
                status = {{schema.schema_name}}_schema_codec_error( \
                    error, DATA_BIND_ERR_INVALID_ARG, type_name, "Unknown schema text format"); \
                break; \
            } \
        } \
        name##_clear(&object); \
        return status; \
    }

{{#composites}}    TBE_SCHEMA_BINARY_TO_TEXT_CASE({{name}})
{{/composites}}{{#groups}}    TBE_SCHEMA_BINARY_TO_TEXT_CASE({{name}})
{{/groups}}{{#messages}}    TBE_SCHEMA_BINARY_TO_TEXT_CASE({{name}})
{{/messages}}
#undef TBE_SCHEMA_BINARY_TO_TEXT_CASE

    return {{schema.schema_name}}_schema_codec_error(
        error, DATA_BIND_ERR_TYPE_NOT_FOUND, type_name, "Schema codec type not found");
}

static void {{schema.schema_name}}_schema_codec_free_output(void *output) {
    tbe_typed_serialized_free(output);
}

static const tbe_schema_codec_v1_t {{schema.schema_name}}_SCHEMA_CODEC = {
    .struct_size = sizeof(tbe_schema_codec_v1_t),
    .abi_version = TBE_SCHEMA_CODEC_ABI_VERSION,
    .schema_id = "{{schema.schema_name}}",
    .create = {{schema.schema_name}}_codec_create,
    .text_to_binary_into = {{schema.schema_name}}_text_to_binary_into,
    .binary_to_text = {{schema.schema_name}}_binary_to_text,
    .free_output = {{schema.schema_name}}_schema_codec_free_output
};

const tbe_schema_codec_v1_t *{{schema.schema_name}}_schema_codec(void) {
    return &{{schema.schema_name}}_SCHEMA_CODEC;
}
