{{#schema}}package {{go_package_name}}{{/schema}}{{^schema}}package generated{{/schema}}

{{#enums}}
type {{enum_name}} int32

const (
{{#items}}
    {{enum_name}}_{{name}} {{enum_name}} = {{value}}
{{/items}}
)

{{/enums}}
{{#composites}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/composites}}
{{#groups}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/groups}}
{{#messages}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/messages}}
