from dataclasses import dataclass
from typing import List, Optional, Any
from enum import IntEnum

# =========================================================================
# Enums
# =========================================================================

{{#enums}}
class {{enum_name}}(IntEnum):
    """
    Attributes: {{#attributes}}[ {{name}}: {{value}} ] {{/attributes}}
    """
{{#items}}
    {{name}} = {{value}}
{{/items}}

{{/enums}}

# =========================================================================
# Composites
# =========================================================================

{{#composites}}
@dataclass
class {{name}}:
    """
    Attributes: {{#attributes}}[ {{name}}: {{value}} ] {{/attributes}}
    """
{{#fields}}
    {{name}}: {{python_type}} # size: {{size_bytes}} bytes
{{/fields}}

{{/composites}}

# =========================================================================
# Groups
# =========================================================================

{{#groups}}
@dataclass
class {{name}}:
    """
    Attributes: {{#attributes}}[ {{name}}: {{value}} ] {{/attributes}}
    """
{{#fields}}
    {{name}}: {{python_type}} # size: {{size_bytes}} bytes
{{/fields}}

{{/groups}}

# =========================================================================
# Messages
# =========================================================================

{{#messages}}
@dataclass
class {{name}}:
    """
    Attributes: {{#attributes}}[ {{name}}: {{value}} ] {{/attributes}}
    """
{{#fields}}
    {{name}}: {{python_type}} # size: {{size_bytes}} bytes
{{/fields}}

{{/messages}}
