use serde::{Serialize, Deserialize};

/* ========================================================================= */
/* Enums                                                                     */
/* ========================================================================= */

{{#enums}}
#[derive(Debug, Clone, Copy, Serialize, Deserialize, PartialEq, Eq)]
#[repr({{rust_underlying_type}})]
pub enum {{enum_name}} {
{{#items}}
    {{name}} = {{value}},
{{/items}}
}

{{/enums}}

/* ========================================================================= */
/* Composites                                                                */
/* ========================================================================= */

{{#composites}}
#[derive(Debug, Clone, Serialize, Deserialize)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}}, // {{size_bytes}} bytes
{{/fields}}
}

{{/composites}}

/* ========================================================================= */
/* Groups                                                                    */
/* ========================================================================= */

{{#groups}}
#[derive(Debug, Clone, Serialize, Deserialize)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}}, // {{size_bytes}} bytes
{{/fields}}
}

{{/groups}}

/* ========================================================================= */
/* Messages                                                                  */
/* ========================================================================= */

{{#messages}}
#[derive(Debug, Clone, Serialize, Deserialize)]
pub struct {{name}} {
{{#fields}}
    pub {{name}}: {{rust_type}}, // {{size_bytes}} bytes
{{/fields}}
}

{{/messages}}
