{{#db_tables}}CREATE TABLE {{sql_table_name}} (
{{#db_columns}}  {{sql_column_name}} {{sql_type}}{{#sql_constraints}} {{sql_constraints}}{{/sql_constraints}}{{^is_last}},{{/is_last}}
{{/db_columns}}{{#has_composite_primary_key}}, PRIMARY KEY ({{#db_primary_key_columns}}{{sql_column_name}}{{^is_last}}, {{/is_last}}{{/db_primary_key_columns}})
{{/has_composite_primary_key}});
{{^is_last}}
{{/is_last}}{{/db_tables}}
