{{#enums}}
export enum {{enum_name}} {
{{#items}}
  {{name}} = {{value}},
{{/items}}
}

{{/enums}}
{{#composites}}
export interface {{name}} {
{{#fields}}
  {{name}}: {{ts_type}};
{{/fields}}
}

{{/composites}}
{{#groups}}
export interface {{name}} {
{{#fields}}
  {{name}}: {{ts_type}};
{{/fields}}
}

{{/groups}}
{{#messages}}
export interface {{name}} {
{{#fields}}
  {{name}}: {{ts_type}};
{{/fields}}
}

{{/messages}}
