package {{schema.go_package_name}}

{{#enums}}
type {{enum_name}} {{go_underlying_type}}

const (
{{#items}}
    {{enum_name}}_{{name}} {{enum_name}} = {{value}}
{{/items}}
)

{{/enums}}
{{#composites}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/composites}}
{{#groups}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/groups}}
{{#messages}}
type {{name}} struct {
{{#fields}}
    {{go_name}} {{go_type}}
{{/fields}}
}

{{/messages}}
